In [39]:
import sqlite3
from sqlite3 import Error
import pandas as pd

In [40]:
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

In [41]:
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)

In [42]:
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [48]:
# 10. Produce a list of facilities with a total revenue less than 1000.
# The output of facility name and total revenue, sorted by revenue. Remember
# that there's a different cost for guests and members! 
conn = create_connection("sqlite_db_pythonsqlite.db")
cur  = conn.cursor()

rs = cur.execute("Select  f.name as name , sum(CASE WHEN b.memid = 0 THEN (f.guestcost * b.slots) ELSE (f.membercost * b.slots) END) AS revenue from Bookings as b  Inner join Facilities as f on f.facid = b.facid group by name having revenue <1000 order by revenue ")
rows = rs.fetchall()
for row in rows:
  print(row)

2.6.0
('Table Tennis', 180)
('Snooker Table', 240)
('Pool Table', 270)

In [57]:
11. #Produce a report of members and who recommended them in alphabetic surname,firstname order */

rs = cur.execute("SELECT m1.firstname , m1.surname , m2.firstname || m2.surname as recommended  from Members as m1 left join Members as m2 on m1.recommendedby = m2.memid where m1.memid <>0 and m2.memid<>0 Order by m1.firstname")
rows = rs.fetchall()
for row in rows:
  print(row)

('Anna', 'Mackenzie', 'DarrenSmith')
('Anne', 'Baker', 'PonderStibbons')
('Charles', 'Owen', 'DarrenSmith')
('David', 'Jones', 'JaniceJoplette')
('David', 'Pinker', 'JemimaFarrell')
('Douglas', 'Jones', 'DavidJones')
('Erica', 'Crumpet', 'TracySmith')
('Florence', 'Bader', 'PonderStibbons')
('Gerald', 'Butters', 'DarrenSmith')
('Henrietta', 'Rumney', 'MatthewGenting')
('Henry', 'Worthington-Smyth', 'TracySmith')
('Jack', 'Smith', 'DarrenSmith')
('Janice', 'Joplette', 'DarrenSmith')
('Joan', 'Coplin', 'TimothyBaker')
('John', 'Hunt', 'MillicentPurview')
('Matthew', 'Genting', 'GeraldButters')
('Millicent', 'Purview', 'TracySmith')
('Nancy', 'Dare', 'JaniceJoplette')
('Ponder', 'Stibbons', 'BurtonTracy')
('Ramnaresh', 'Sarwin', 'FlorenceBader')
('Tim', 'Boothe', 'TimRownam')
('Timothy', 'Baker', 'JemimaFarrell')

In [58]:
#Find the facilities with their usage by member, but not guests
rs = cur.execute("SELECT f.name as facility , sum(b.slots) as numberusage from Facilities as f left join Bookings as b on f.facid = b.facid where b.memid <>0 group by f.name")
rows = rs.fetchall()
for row in rows:
  print(row)

('Badminton Court', 1086)
('Massage Room 1', 884)
('Massage Room 2', 54)
('Pool Table', 856)
('Snooker Table', 860)
('Squash Court', 418)
('Table Tennis', 794)
('Tennis Court 1', 957)
('Tennis Court 2', 882)

In [64]:
# Find the facilities usage by month, but not guests */
rs = cur.execute("SELECT f.name as facility , strftime('%m',starttime) as month, sum(b.slots) as numberusage from Facilities as f left join Bookings as b on f.facid = b.facid where b.memid <>0 group by f.name , month")
rows = rs.fetchall()
for row in rows:
  print(row)

('Badminton Court', '07', 165)
('Badminton Court', '08', 414)
('Badminton Court', '09', 507)
('Massage Room 1', '07', 166)
('Massage Room 1', '08', 316)
('Massage Room 1', '09', 402)
('Massage Room 2', '07', 8)
('Massage Room 2', '08', 18)
('Massage Room 2', '09', 28)
('Pool Table', '07', 110)
('Pool Table', '08', 303)
('Pool Table', '09', 443)
('Snooker Table', '07', 140)
('Snooker Table', '08', 316)
('Snooker Table', '09', 404)
('Squash Court', '07', 50)
('Squash Court', '08', 184)
('Squash Court', '09', 184)
('Table Tennis', '07', 98)
('Table Tennis', '08', 296)
('Table Tennis', '09', 400)
('Tennis Court 1', '07', 201)
('Tennis Court 1', '08', 339)
('Tennis Court 1', '09', 417)
('Tennis Court 2', '07', 123)
('Tennis Court 2', '08', 345)
('Tennis Court 2', '09', 414)